@import 'tailwindcss';

.canvas-reset {
  all: revert;
  font-family: serif;
  font-size: medium;
  line-height: normal;
}

.canvas-reset *,
.canvas-reset *::before,
.canvas-reset *::after {
  margin: revert;
  padding: revert;
  border: revert;
  font-size: revert;
  font-family: revert;
  font-weight: revert;
  line-height: revert;
  box-sizing: revert;
}
